anyio==4.12.0
asgiref==3.11.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.3.1
colorama==0.4.6
distlib==0.4.0
dj-database-url==3.1.2
Django==6.0.7
et_xmlfile==2.0.0
filelock==3.18.0
flet==0.80.0
flet-desktop==0.80.0
gunicorn==26.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
msgpack==1.1.2
numpy==2.2.3
oauthlib==3.3.1
openpyxl==3.1.5
packaging==26.2
pandas==2.2.3
platformdirs==4.3.8
psycopg2-binary==2.9.12
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.1
repath==0.9.0
requests==2.32.3
requests-futures==1.0.2
sherlock-project==0.15.0
six==1.17.0
sqlparse==0.5.5
stem==1.8.2
tzdata==2025.1
urllib3==2.3.0
uvicorn==0.40.0
virtualenv==20.32.0
whitenoise==6.12.0
python-dotenv==1.0.1
reportlab
